<section class="conA compact">
  <div class="contaniner">
    <h1>LOGGER</h1>
    <p>美味しく楽しくライフログ</p>
  </div>
</section>
<section class="listA">
  <h1>RECENT POSTS</h1>
  <div class="container">
    <article>
      <%= link_to "#" do %>
        <div class="photo", style="background-image:url(<%= asset_path "p01.jpg" %>)">
        </div>
        <div class="text">
          <h2>黄色い花を飾ってみた</h2>
          <p>黄色い花を部屋に飾るといいことがあるかもしれません。その理由は、、、</p>
        </div>
      <% end %>
    </article>
    <article>
      <%= link_to "#" do %>
        <div class="photo", style="background-image:url(<%= asset_path "p01.jpg" %>)">
        </div>
        <div class="text">
          <h2>2黄色い花を飾ってみた</h2>
          <p>黄色い花を部屋に飾るといいことがあるかもしれません。その理由は、、、</p>
        </div>
      <% end %>
    </article>
    <article>
      <%= link_to "#" do %>
        <div class="photo", style="background-image:url(<%= asset_path "p01.jpg" %>)">
        </div>
        <div class="text">
          <h2>3黄色い花を飾ってみた</h2>
          <p>黄色い花を部屋に飾るといいことがあるかもしれません。その理由は、、、</p>
        </div>
      <% end %>
    </article>
    <article>
      <%= link_to "#" do %>
        <div class="photo", style="background-image:url(<%= asset_path "p01.jpg" %>)">
        </div>
        <div class="text">
          <h2>4黄色い花を飾ってみた</h2>
          <p>黄色い花を部屋に飾るといいことがあるかもしれません。その理由は、、、</p>
        </div>
      <% end %>
    </article>
    <article>
      <%= link_to "#" do %>
        <div class="photo", style="background-image:url(<%= asset_path "p01.jpg" %>)">
        </div>
        <div class="text">
          <h2>5黄色い花を飾ってみた</h2>
          <p>黄色い花を部屋に飾るといいことがあるかもしれません。その理由は、、、</p>
        </div>
      <% end %>
    </article>
    <article>
      <%= link_to "#" do %>
        <div class="photo", style="background-image:url(<%= asset_path "p01.jpg" %>)">
        </div>
        <div class="text">
          <h2>6黄色い花を飾ってみた</h2>
          <p>黄色い花を部屋に飾るといいことがあるかもしれません。その理由は、、、</p>
        </div>
      <% end %>
    </article>
    <article>
      <%= link_to "#" do %>
        <div class="photo", style="background-image:url(<%= asset_path "p01.jpg" %>)">
        </div>
        <div class="text">
          <h2>7黄色い花を飾ってみた</h2>
          <p>黄色い花を部屋に飾るといいことがあるかもしれません。その理由は、、、</p>
        </div>
      <% end %>
    </article>
    <article>
      <%= link_to "#" do %>
        <div class="photo", style="background-image:url(<%= asset_path "p01.jpg" %>)">
        </div>
        <div class="text">
          <h2>8黄色い花を飾ってみた</h2>
          <p>黄色い花を部屋に飾るといいことがあるかもしれません。その理由は、、、</p>
        </div>
      <% end %>
    </article>
    <article>
      <%= link_to "#" do %>
        <div class="photo", style="background-image:url(<%= asset_path "p01.jpg" %>)">
        </div>
        <div class="text">
          <h2>9黄色い花を飾ってみた</h2>
          <p>黄色い花を部屋に飾るといいことがあるかもしれません。その理由は、、、</p>
        </div>
      <% end %>
    </article>
    <article>
      <%= link_to "#" do %>
        <div class="photo", style="background-image:url(<%= asset_path "p01.jpg" %>)">
        </div>
        <div class="text">
          <h2>10黄色い花を飾ってみた</h2>
          <p>黄色い花を部屋に飾るといいことがあるかもしれません。その理由は、、、</p>
        </div>
      <% end %>
    </article>
    <article>
      <%= link_to "#" do %>
        <div class="photo", style="background-image:url(<%= asset_path "p01.jpg" %>)">
        </div>
        <div class="text">
          <h2>11黄色い花を飾ってみた</h2>
          <p>黄色い花を部屋に飾るといいことがあるかもしれません。その理由は、、、</p>
        </div>
      <% end %>
    </article>
    <article>
      <%= link_to "#" do %>
        <div class="photo", style="background-image:url(<%= asset_path "p01.jpg" %>)">
        </div>
        <div class="text">
          <h2>12黄色い花を飾ってみた</h2>
          <p>黄色い花を部屋に飾るといいことがあるかもしれません。その理由は、、、</p>
        </div>
      <% end %>
    </article>
  </div>
</section>