<section class="conA">
  <div class="contaniner">
    <%= image_tag "logo.svg" %>
    <h1>LOGGER</h1>
    <p>美味しく楽しくライフログ</p>
    <%= link_to "ライフログを始める","#" %>
  </div>
</section>
<section class = "conB">
  <div class="container">
    <div class="text">
      <span class= "fa fa-bar-chart icon"></span>
      <h2>ライフログって何？</h2>
      <p>日常のあれこれを記録していくライフログ。いろいろなものが見えてきます</p>
      <%= link_to "#" do%>
        MORE...
        <span class="fa fa-chevron-right"></span>
      <% end %>
    </div>
    <div class="text">
      <span class= "fa fa-gears icon"></span>
      <h2>必要なのはスマホだけ</h2>
      <p>ライフログを始めるのに必要なのはスマホだけ。いつでもスタートできます。</p>
      <%= link_to "#" do%>
        MORE... 
        <span class="fa fa-chevron-right"></span>
      <% end %>
    </div>
    <div class="text">
      <span class= "fa fa-rocket icon"></span>
      <h2>SNSとの連携も簡単</h2>
      <p>TwitterやFacebookといったSNSと連携して、簡単にログを共有することができます。</p>
      <%= link_to "#" do %>
        MORE...
        <span class="fa fa-chevron-right"></span>
      <% end %>
    </div>
  </div>
</section>
<section class = "conC">
  <div class="container">
    <div class="photo"></div>
    <div class="text">
      <h2>面倒な設定やデータの管理は全部お任せ</h2>
      <p>ライフログでつまづきがちな設定やデータ管理の煩わしさはありません。他のログアプリとの連携もワンクリックで完了です。</p>
      <%= link_to "#" do%>
        詳しい設定方法を確認する
        <span class="fa fa-chevron-right"></span>
      <% end %>
    </div>
  </div>
</section>
<section class = "conD">
  <div class="container">
    <div class="photo"></div>
    <div class="text">
      <h2>ライフログで毎日の日常生活をもっと楽しむ</h2>
      <p>ふと気がつくと蓄積しているライフログ。ろぐを見返すといろいろなことが見えてきて、なんてことない日常も楽しくなってきます。</p>
      <%= link_to "#" do%>
        例えばこんな楽しみ方が・・・
        <span class="fa fa-chevron-right"></span>
      <% end %>
    </div>
  </div>
</section>
